{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>TypeDeBien</th>
                <td>{{ devi.typeDeBien }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ devi.budget }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ devi.surface }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ devi.description }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ devi.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ devi.telephone }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ devi.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ devi.prenom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ devi.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ devi.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin') }}">back to list</a>

    {{ include('devisAdmin/_delete_form.html.twig') }}
{% endblock %}
